.sns2 {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 10%;
    width: 75%;
    align-items: center;
}

.message {
    width: 55%;
}

.googmap {
    position: relative;
    overflow: hidden;
    width: 80%;
    margin: 10%;
    padding-top: 56.25%;
}

.googmap2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 75%;
    height: 75%;
}

input[type="submit"],
input[type="reset"] {
    width: 75px;
    margin-left: 15px;
    border-radius: 100%;
    text-align: center;
    background: linear-gradient(green, white, red);
}

.butsencl {
    justify-content: space-between;
    text-align: center;
}